version: "3.9"
networks:
  api:
    external: true
    name: mesa

services:
  nginx-rtmp:
    container_name: "mesa-rtmp-nginx"
    image: tiangolo/nginx-rtmp
    volumes:
      - ./nginx:/nginx
      - ./nginx/config/nginx.conf:/etc/nginx/nginx.conf
      - ./volumes/dash:/mnt/dash # Directory for DASH storage
      - ./volumes/hls:/mnt/hls # Directory for HLS storage
      - ./volumes/recordings:/var/www/html/recordings
    ports:
      - "1935:1935" # RTMP port
      - "8080:8080" # HTTP port for DASH and HLS
    networks:
      - api
    restart: unless-stopped
    command: ["nginx", "-g", "daemon off;"]
